
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


#portfolio-container {
    padding: 20px;
}


header {
    background-color: rgba(0, 0, 0, 0.7); 
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

nav {
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
    font-size: 1.2rem;
    transition: color 0.3s; 
}

nav a:hover {
    color: #ff9900;
}


.home-section {
    text-align: center;
    padding: 200px;
    background-color: white; 
    background-image: url('madola.jpg');
    margin-top: 20px;
    border-radius: 10px;
}

.my-name {
    font-size: 2rem;
}

.home-section p {
    font-size: 1.2rem;
    margin-top: 20px;
    text-decoration: wavy;
    color: white;
}

/* Social media icons */
.home-section div {
    font-size: 1.5rem;
    margin-top: 20px;
    color: blue;
}

.home-section a {
    text-decoration: none;
    color: #fff;
    line-height: 30px;
    font-size: 30px;
    margin: 0 5px;
}

.home-section a i{
    line-height: 30px;
    font-size: 30px;
    -webkit-transition: all 200ms;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms;
    -ms-transform: scale(1);
    -moz-transition: all 200ms;
    -moz-transform: scale(1);
    transition: all 200ms;
    transform: scale(1);
}

.home-section a:hover i{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);

}

.home-section h1{
    text-decoration-color: white;
    text-decoration: none;
    color: white;
    margin: 0 20px;
}

.about {
    background-image: url('me.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff; 
    padding: 20px; 
    font-family: Arial, sans-serif;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.about p {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.about ul {
    list-style-type: disc;
    margin-left: 30px;
    font-size: 1.2rem;
}

.about ul li {
    margin-bottom: 5px;
}
.resume {
    text-align: center; 
    max-width: 800px; 
    margin: 0 auto; 
    padding: 200px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.resume-content {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.resume-content h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.resume-content h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.resume-content p {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.contact {
    background-color: #fff;
    padding: 200px;
    margin-top: 20px;
    border-radius: 10px;
}

.contact h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.contact p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

